/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: 'Roboto';
  font-size: 38px;
  color: #0f172a;
}
.sub-title {
  font-family: 'Roboto';
  font-size: 24px;
  color: #334155;
}
.increment-button {
  font-size: 15px;
  background-color: #ffffff;
  text-align: center;
  border: 0px;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  font-family: 'Roboto';
}
.description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #334155;
}
